<div class="col-md-9">
	<h1>Edit {{item.title}}</h1>
	<div class="new-button" ui-sref="items">/ discard</div>
	<hr/>

</div>

<div class="col-md-6">
	
	<div ng-form name="myForm">
		<label>Title*</label>
	    <input ng-model="item.title" name="title" type="text" class="form-control" ng-minlength="3" ng-class="{'required': submitted && !myForm.title.$valid}" required/>
	    <br/>
	    <label>Description*</label>
	    <textarea ng-model="item.body" name="body" class="form-control" ng-class="{'required': submitted && myForm.body.$error.required}" required></textarea>
	    <br/>
		<label>Price*</label>
	    <input ng-model="item.price" name="price" class="form-control" type="number" step="0.01" ng-class="{'required': submitted && myForm.body.$error.required}" required></input>
	    <br/>
		<label>Store</label>
		<select ng-model="item.store" name="store" ng-options="store._id as store.name for store in stores" class="form-control"></select>
		<br/>
		<div class="btn btn-vintage pull-right" ng-click="onSave()" ng-disabled="isSaving">+ update</div>
	</div>
	<span><strong>{{requiredFields}}</strong></span>
	
</div>


<div class="col-md-3">
	<label>QR code</label>
	<img class="cover" ng-if="item.qr" ng-src="{{url}}/qr/{{item.qr}}"></img>
	<br/>
	<br/>
	<label>ShortURL</label> • <a href="/{{item.shorturl}}" target="_blank">go</a>
	<input value="{{url}}/{{item.shorturl}}" name="shorturl" type="text" class="form-control" readonly/>
</div>

<div class="col-md-3">
	<label>Cover image</label>
    <br/>
    <div class="drop-zone" ngf-drop="uploadFiles($file)" ngf-drag-over-class="'dragover'">
        <div class="btn btn-info" ngf-select="uploadFiles($file)">Upload cover image <br/>or drag & drop</div>
    </div>
    <br/>
    <div class="progress" ng-if="isUploading">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="{{uploadData.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadData.progress}}%">
            {{uploadData.progress}}%
        </div>
    </div>
	
	<img class="cover" ng-if="item.coverImage" ng-src="{{url}}/uploads/{{item.coverImage}}"></img>

</div>