<div class="col-md-9">
	<h1>Edit {{store.name}}</h1>
	<div class="new-button" ui-sref="stores">/ discard</div>
	<hr/>

	<div ng-form name="myForm">
		<label>Name*</label>
	    <input ng-model="store.name" name="title" type="text" class="form-control" ng-minlength="3" ng-class="{'required': submitted && !myForm.title.$valid}" required/>
	    <br/>
	    <label>About</label>
	    <textarea ng-model="store.body" name="body" class="form-control"></textarea>
	    <br/>
	    <label>Email</label>
	    <input ng-model="store.email" name="url" type="email" class="form-control" />
	    <br/>
		<label>Location</label>
	    <input ng-model="store.location" name="location" type="text" class="form-control"></input>
	    <br/>
		<div class="btn btn-vintage pull-right" ng-click="onSave()" ng-disabled="isSaving">+ update</div>
	</div>
	<span><strong>{{requiredFields}}</strong></span>
</div>
